sessions/new


<%= form_for :session, url: session_path do |form| %>
  <div>
    <% form.label :email %>
    <%= form.text_field :email, type: 'email', placeholder: 'email' %>
  </div>

   <div>
    <% form.label :password %>
    <%= form.password_field :password, type: 'password', placeholder: 'password' %>
  </div>

  <div>
    <%= form.submit "log in"%> 
  </div>
  
  <% end %> 



  <% if @user.errors.any? %> 
  <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "error") %>:</h3>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= link_to "Supporter sign up", new_supporter_path %>
<%= link_to "Charity sign up", new_charity_path %>
  
