sessions/new


<%= form_for :session, url: session_path do |form| %>
  <div>
    <% form.label :email %>
    <%= form.text_field :email, type: 'email', placeholder: 'email' %>
  </div>

   <div>
    <% form.label :password %>
    <%= form.password_field :password, type: 'password', placeholder: 'password' %>
  </div>

  <div>
    <%= form.submit "log in"%> 
  </div>
  
  <% end %> 




<%= link_to "Supporter sign up", new_supporter_path %>
<%= link_to "Charity sign up", new_charity_path %>
  
