

<br>
<br>

<div class = "sgnupcenter">
  <h1 class= "barcodefont">Join the Community</h1>
  <%= form_for @charity do |form| %>
    <%= render partial: "form", locals: {form: form} %>
    <div>
      <%= form.submit "Join" %>
    </div>
  <% end %>

</div>



<% if @charity.errors.any? %> 
  <div id="error_explanation">
    <h3><%= pluralize(@charity.errors.count, "error") %>:</h3>
 
    <ul>
    <% @charity.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= link_to "new supporter", new_supporter_path %><br>
<%= link_to "sign in", new_session_path %>