
<div>
	<h3>Create a new account</h3>
	<%= form_for @supporter do |form| %>
	<%= render partial: '/supporters/form', object: form %>
	<%= form.submit "Submit" %>
	<% end %>
</div>


<br>
<br>
<div class = "sgnupcenter">
  <h1 class= "barcodefont">Join the Community</h1>

   
  <%= form_for @supporter do |form| %>
    <%= render partial: "form", locals: {form: form} %>
    <div>
      <%= form.submit "Join" %>
    </div>
    <% end %>
    
     
      <% if @supporter.errors.any? %> 
        <div id="error_explanation">
        <% @supporter.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
        </div>
      <% end %>
   

</div>










<%= link_to "new charity", new_charity_path %><br>
<%= link_to "sign in", new_session_path %>























