  <%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--   form   -->






<div class="actions">

  <div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title, type: 'title' %>
  </div>

  <div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description, type: 'description' %>
  </div>

  <div class="date_field">
  <%= form.label :deadline_for_collection %>
  <%= form.date_field :deadline_for_collection, min: Date.today %>
  </div>


  <strong>Available time</strong><br>
  Pickup time (start): <%= form.text_field :pickup_start, id: "pickup_start" %>
      <div class="actions">
      <div style="overflow:hidden;">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <div id="datetimepicker12"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker12').datetimepicker({
                    inline: true,
                    format: "HH:mm"
                });

                $('#datetimepicker12').on("dp.change", 
                  function (e) {
                    var time = e.date.format('HH:mm');

                    $('#pickup_start').val(time);
                  });
                });
        </script>
    </div>


     Pickup time(end): <%= form.text_field :pickup_end, id: "pickup_end" %>
      <div class="actions">
      <div style="overflow:hidden;">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <div id="datetimepicker13"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker13').datetimepicker({
                    inline: true,
                    format: "HH:00"
                });

                $('#datetimepicker13').on("dp.change", 
                  function (a) {
                    var time1 = a.date.format('HH:mm');

                    $('#pickup_end').val(time1);
                  });
                });
        </script>
    </div>




  <div class="photos">
  <%= form.label :photos %>
  <%= form.file_field :photos, multiple: true %>
  </div>

   <div class="submit-field">
      <%= form.submit %>
   </div>
  
  </div>

<% end %>
