<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class= "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Deadline for collection</th>
      <th>Order</th>
    </tr>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
    <tr>
     <td><%= post.title %></td>
     <td><%= post.description %></td>
     <td><%= post.deadline_for_collection.to_date %></td>
     <td><%= button_to 'Select', new_post_order_path(post), method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
