<div class = "container">

  <!-- start of device location -->
  <div id="map"></div>
  <div class="row">
    <div class="col-md-12">

      <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQRhtkZcgjstdOhIaPtkrMkvwvKbePDak"></script>



    <script>
      function success(position){
        var mylat = position.coords.latitude;
        var mylong = position.coords.longitude;

        var coords = new google.maps.LatLng(mylat, mylong);

        var mapOptions = {
          zoom: 11,
          center: coords,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }


        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        //add a marker//

        var marker = new google.maps.Marker({
          position:{lat: mylat, lng: mylong},
          map: map, 
          icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
        });

        var infoWindow = new google.maps.InfoWindow({
          content: '<h5>You are here </h5>'
        });

        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });

        //adding more markers for charities when they sign up as supporter

        var supporterCoords = <%= @a.to_json %>
        supporterCoords.forEach(function(element){
          new google.maps.Marker({
            position:{lat: element[0], lng: element[1]},
            map: map
          });
        })




        }


        function failure(){
          $('body').append("<p>It didn’t work, co-ordinates are not available!</p>")
        }

        x = navigator.geolocation;
        x.getCurrentPosition(success, failure);

        </script>

<!--  sort -->
<div class="sort_table">
  <div class="sortable_bar col-xs-2">
    <button class = "btn btn-default" style ="text-decoration: none"><%= sortable "id", "Sort by latest post"%></button>
  </div>
<!--  sort -->
<!--  render 'search_form' -->
  <div class ="col-xs-10">
  <%= form_tag(posts_path, class: 'form-inline', :method => "get") do %>
    <%= text_field_tag :state, params[:state], placeholder: "STATE", class:'form-control col-lg-6'%>
    <%= text_field_tag :town, params[:town], placeholder: "TOWN", class:'form-control col-lg-6'%>
    <%= submit_tag "Search", class:'btn btn-secondary', style:'display: inline;'%>
  <% end %>
  </div>
<!--  render 'search_form' -->

</div>


<div class= "col-xs-12"><hr></div>
<!-- allposts -->
  <div  id="container">
    <div class="row">
    <% @posts.each_slice(3) do |posts| %>

      
         <% posts.each do |post| %>
         <% if post.ordered_post == false &&   post.deadline_for_collection > ( Time.now - (60*60*24))  %>
                <section class="col-xs-18 col-sm-6 col-md-4">
                  <div class="thumbnail">
                  
                    <% if post.photos? %> 
                          <div class = "inline">
                           <h2><strong><%= post.title %></strong></h2> 
                           <p>Pickup before | <%= post.deadline_for_collection.to_date %></p>
                          <%= link_to (image_tag post.photos[0].small,:class => "thum"),post_path(post) %>
                          <p>Description | <%= post.description %></p>
                          <p><%= post.supporter.state %> | <%= post.supporter.town %> </p>
                        </div>

                    <% else %>

                        <div class = "inline">
                          <h2><strong><%= post.title %></strong></h2> 
                          <p>Pickup before | <%= post.deadline_for_collection.to_date %></p>
                          <%= link_to (image_tag 'default.jpg',:class => "thum" ),post_path(post)%>  
                          <p>Description | <%= post.description %></p>
                          <p><%= post.supporter.state %> | <%= post.supporter.town %></p>
                        </div>
                    <% end %>

                    <div class="caption">
                    <!-- <p>Availability | <td><%= post.ordered_post %></td></p> -->
                   <!--  <p><td><%= post.title %></td></p> -->
                   <!--  <p>Description | <td><%= post.description %></td></p> -->
                   <!--  <p>State | <td><%= post.supporter.state %></td></p>
                    <p>Town | <td><%= post.supporter.town %></td></p>
 -->
                    <% if current_user.class == Charity %> 
                    <button class = "btn btn-default center"><a href="/posts/<%= post.id %>/orders/new">Order</a></button>
                    <% end %>     

                    
                    </div>

                  </div>
                </section>
         <% else %>
         <% end %>
        <% end %>



    <% end %>
    </div><!-- End row -->
               

</div>
</div>
<!-- end of device location -->

</div>
